@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Montserrat:600");

.logobox {
  background: #1d1b25;
  display: grid;
}
.logo {
  width: 40%;
  justify-self: center;
  padding: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

html body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  text-align: center;
}

.body{
  background: #ffae42;
  display: grid;
  
}